<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>FBI</title>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Garamond&family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
      </head>
<body>
  <header>
    <h1>
      <span class="fbi">F</span><span class="rest">ucking </span>
      <span class="fbi">B</span><span class="rest">uild </span>
      <span class="fbi">I</span><span class="rest">t</span>
    </h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/learn">Learn</a>
    </nav>
  </header>
  <main>
    <p>FBI - Fucking Build It</p>
    <p>Create, produce, and ship like never before.</p>
    <p>Scrap this releasing an increment weekly or monthly bullshit. When did simply creating the needed product go out of fashion?</p>
    <p>Middlemen, take your powerpoints, your graphs, and your diagrams to the bin. Leave it to the devs to rapidly create great products.</p>
  </main>
  <footer>
    <a href="mailto:michael.andrew.glass@gmail.com"><strong>Contact me</strong></a>
  </footer>
</body>
</html>