<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FBI - Learning</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Garamond&family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>
      <span class="fbi">F</span><span class="rest">ucking </span>
      <span class="fbi">B</span><span class="rest">uild </span>
      <span class="fbi">I</span><span class="rest">t</span>
    </h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/learn">Learn</a>
    </nav>
  </header>
  <main>
    <h2 class="headline">Learning Resources</h2>
    <div class="book-container">
      <div class="book">
        <h2 class="book-header">Read the FBI Guide</h2>
        <a href="/FBI_guide.pdf" target="_blank">
          <img src="/FBI_cover.png" alt="FBI - Guide: Build Fast, Win Big Cover" class="book-cover">
        </a>
        <p>
          <a href="/FBI_Guide.pdf" download>Download</a>
        </p>
      </div>
      <div class="book">
        <h2 class="book-header">Read FBI Comparison</h2>
        <a href="/FBI_vs_SPM.pdf" target="_blank">
          <img src="/FBI_vs_SPM_cover.png" alt="FBI vs. Standard Project Management Cover" class="book-cover">
        </a>
        <p>
          <a href="/FBI_vs_SPM.pdf" download>Download</a>
        </p>
      </div>
    </div>
  </main>
  <footer>
    <a href="mailto:michael.andrew.glass@gmail.com"><strong>Contact me</strong></a>
  </footer>
</body>
</html>